<% content_for "header" do %>
<title><%= translate(locale, "login_page_title_login") %> - Invidious</title>
<link rel="stylesheet" href="/css/user.css?v=<%= ASSET_COMMIT %>">
<% end %>

<div class="h-box">
	<div class="login-container">
		<%= Invidious::Frontend::LoginRegister.gen_login_form(env, account_type, captcha) %>
	</div>
</div>
