<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/pure-min.css">
  <link rel="stylesheet" href="/css/grids-responsive-min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/custom.css">
  <%= yield_content "header" %>
</head>

<body>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-5"></div>
    <div class="pure-u-1 pure-u-md-3-5">
      <div class="pure-g" style="padding:1em;">
        <div class="pure-u-1 pure-u-md-1-5">
          <a href="/" class="pure-menu-heading">Invidious</a>
        </div>
        <div class="pure-u-1 pure-u-md-4-5">
          <form class="pure-form" action="/search" method="get">
            <input type="search" style="width:100%;" name="q" placeholder="search" value="<%= env.params.query["q"]? %>">
          </form>
        </div>
      </div>
      <%= content %>
      <center style="margin:1em;">
        Released under AGPLv3 by <a href="https://github.com/omarroth">Omar Roth</a> -
        source available <a href="https://github.com/omarroth/invidious">here</a>
      </center>
    </div>
    <div class="pure-u-1 pure-u-md-1-5"></div>
  </div>
</body>

</html>
