<% content_for "header" do %>
    <%= query.size > 30 ? query[0,30].chomp("...") + "... - " : query + " - " %>
<% end %>

<% videos.each do |item| %>
<p><a class="link" href="<%= item["link"] %>"><%= item["title"] %></a></p>
<% end %>

<p style="text-align: right"><a href="/search?q=<%= query %>&page=<%= page + 1 %>">Next page</a></p>