/*
 * Dark theme
 * Same as (prefers-color-scheme: dark) in default.css
 */

.dark-theme a:hover,
.dark-theme a:active {
  color: rgb(0, 182, 240);
}

.dark-theme a {
  color: #a0a0a0;
  text-decoration: none;
}

body.dark-theme {
  background-color: rgba(35, 35, 35, 1);
  color: #f0f0f0;
}

.dark-theme .pure-form legend {
  color: #f0f0f0;
}

.dark-theme .pure-menu-heading {
  color: #f0f0f0;
}

.dark-theme input,
.dark-theme select,
.dark-theme textarea {
  color: rgba(35, 35, 35, 1);
}

.dark-theme .pure-form input[type="file"] {
  color: #f0f0f0;
}

.dark-theme .navbar > .searchbar input {
  background-color: inherit;
  color: inherit;
}

