a:hover,
a:active {
  color: #46aaf6;
}

a {
  color: #a0a0a0;
  text-decoration: none;
}

body {
  background-color: #101010;
  color: #f0f0f0;
}

.pure-form legend {
  color: #f0f0f0;
}

.pure-menu-heading {
  color: #f0f0f0;
}

.pure-form > fieldset > input, .pure-control-group > input {
  color: #101010;
}

.pure-form > fieldset > select, .pure-control-group > select {
  color: #101010;
}

.navbar>.searchbar input {
  background-color: inherit;
  color: inherit;
}
