.h-box {
  padding-left: 1em;
  padding-right: 1em;
}

.v-box {
  padding-top: 1em;
  padding-bottom: 1em;
}

div {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.loading {
  animation: spin 2s linear infinite;
}

/*
 * Navbar
 */

.navbar {
  margin: 1em 0;
  display: flex; /* this is also defined in framework, but in case of future changes */
  align-items: center;
  justify-content: space-between;
}

.navbar>div {
  flex: 1;
}

.navbar>.searchbar {
  flex-grow: 2; /* take double the space of the other items */
}

.navbar a {
  padding: 0; /* this way it will stay aligned with content under */
}

.navbar .index-link {
  font-weight: bold;
}

.navbar>.searchbar .pure-form input[type="search"] {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;

  padding: initial 0;

  box-shadow: none;

  transition: 0.1s border-bottom;
}

.navbar>.searchbar .pure-form fieldset {
  padding: 0;
}

/* attract focus to the searchbar by adding a subtle transition */
.navbar>.searchbar .pure-form input[type="search"]:focus {
  border-bottom: 2px solid #aaa;
}

.user-field {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.user-field div {
  width: initial;
}

.user-field div:not(:last-child) {
  margin-right: 1em;
}

@media screen and (max-width: 767px) {
  .navbar {
    flex-direction: column;
  }

  .navbar>div {
    display: flex;
    justify-content: center;
  } 

  .navbar>div:not(:last-child) {
    margin-bottom: 1em;
  }

  .navbar>.searchbar>form {
    width: 60%;
  }
}

@media screen and (max-width: 320px) {
  .navbar>.searchbar>form {
    width: 100%;
    margin: 0 1em;
  }
}

/* 
 * Footer
 */

.footer {
  color: #666666;
  margin: 2em 0;
  text-align: center;
}

.footer a {
  color: inherit;
  text-decoration: underline;
}

/* keyframes */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
