
/* Widget covers the whole page */
#search-widget {
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-gap: var(--gap);
  top: 0;
  left: 0;
  pointer-events: none;
}

.search-homepage {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#search-widget > h1 {
  align-self: flex-end;
  font-size: 3em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-align: center;
}

.searchbar {
	/* reset pointer events for interactive components */
  pointer-events: initial;
}
