.login-buttom {
	margin-right: 15px;
	border: 1px solid;
	padding: 10px;
}
/*/Modul/*/
.d-modal {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.d-modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 600px;
}
.d-container {
  padding: 0.01em 16px;
}
.d-panel {
  margin-top: 16px;
  margin-bottom: 16px;
}
@media (max-width: 600px) {
  .d-modal-content {
    margin: 0 10px;
    width: auto !important;
  }
  .d-modal {
    padding-top: 30px;
  }
}
@media (max-width: 768px) {
  .d-modal-content {
    width: 500px;
  }
  .d-modal {
    padding-top: 50px;
  }
}
@media (min-width: 993px) {
  .d-modal-content {
    width: 900px;
  }
  .d-hide-large {
    display: none !important;
  }
}
.d-teal,
.hover-teal:hover {
  color: #fff !important;
  background-color: #009688 !important;
}
.d-button1 {
  background-color: #000;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  border: none;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
/*end*/
x1 {
  font-size: 30px;
}
.datenschutz {
  margin-left: 250px;
  bottom: 0;
  display: block;
  text-decoration: none;
  font-size: 24px;
  display: block;
  background: #384859;
  width: (100% - 250px);
}
.datenschutz a {
  text-decoration: none;
  font-size: 24px;
  color: #ffffff;
  background: #384859;
}

.sidebar .item .sub-menu {
  background: rgba(255, 255, 255, 0.1);
  display: none;
}
.rotate {
  transform: rotate(90deg);
}
/**/
body {
  padding: 0;
  overflow-x: hidden;
}
@media screen and (min-width: 780px) {
header {
 z-index: 1000000;
 position: fixed;
 background: #22242a;
 padding: 20px;
 width: calc(100% - 0%);
 top: 0;
 height: 30px;
}
}
header {
 background: #22242a;
 padding: 20px;	
}
.left_area h3 {
 color: #fff;
 text-transform: uppercase;
 font-size: 20px;
 font-weight: 900;
 z-index: 1;
 /*position: fixed;*/
 cursor: pointer;
 left: 50px;
 font-size: 20px;
 margin: -10px 0;
 transition: 0.5s;
 transition-property: color;
}

.left_area span {
  color: #19b3d3;
}
.right_area {
	float: right;
	display: contents;
}
.logout_btn {
  padding: 5px;
  background: #19b3d3;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  /*/transition-property: background;/*/
}

.logout_btn:hover {
  background: #0b87a6;
}

.sidebar {
  z-index: 2;
  top: 0;
  background: #333;
  margin-top: 70px;
  /*/padding-top: 30px;/*/
  position: fixed;
  left: -250px;
  width: 250px;
  height: calc(100% - 8%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.profile_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar .profile_info h4 {
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar .profile_info a {
  padding-left: 0px;
  display: block;
}

.sidebar a {
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
  margin-left: 165px;
}

.sidebar a:hover {
  background: #19b3d3;
}

.sidebar i {
  padding-right: 10px;
}

label #sidebar_btn {
 z-index: 1;
 color: #fff;
 position: fixed;
 cursor: pointer;
 left: 20px;
 font-size: 20px;
 margin: 5px 0;
 transition: 0.5s;
 transition-property: color;
}

label #sidebar_btn:hover {
  color: #19b3d3;
}

#check:checked ~ .sidebar {
  left: 0;
  background-color: #2f323a;
}

#check:checked ~ .topnav {
  min-width: 85%;
}

#check:checked ~ .sidebar a span {
  display: inline-block;
}

.sidebar a span {
  display: none;
}

#check:checked ~ .sidebar a {
  /*/font-size: 20px;/*/
  margin-left: 0;
  /*/width: 100%;/*/
}

.sidebar a {
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.content {
  width: (100% - 250px);
  margin-top: 60px;
  /*padding: 20px;*/
  margin-left: 60px;
  min-height: 100vh;
  transition: 0.5s;
}

#check:checked ~ .content {
  /*margin-left: 60px;*/
}

#check:checked ~ .sidebar .profile_info {
  display: flex;
}

.sidebar .profile_info {
  display: none;
}

#check {
  display: none;
}

.mobile_nav {
  display: none;
}

.content .card p {
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.8;
}

/* Responsive CSS */

@media screen and (max-width: 780px) {
  .sidebar {
    display: none;
  }

  #sidebar_btn {
    display: none;
  }

  .content {
    margin-left: 0;
    margin-top: 0;
    /*padding: 10px 20px;*/
    transition: 0s;
  }

  #check:checked ~ .content {
    margin-left: 0;
  }

  .mobile_nav {
    display: block;
    width: calc(100% - 0%);
  }

  .nav_bar {
    background: #222;
    width: (100% - 0px);
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .nav_bar .mobile_profile_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .nav_bar .nav_btn {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }

  .nav_bar .nav_btn:hover {
    color: #19b3d3;
  }

  .mobile_nav_items {
    background: #2f323a;
    display: none;
  }

  .mobile_nav_items a {
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }

  .mobile_nav_items a:hover {
    background: #19b3d3;
  }

  .mobile_nav_items i {
    padding-right: 10px;
  }

  .active {
    display: block;
  }
}
/*Cookie Banner*/

#footer-cookie,
#footer-cookie * {
  box-sizing: border-box;
}

#footer-cookie {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 60px;
  background: #303030;
  color: #fff;
  z-index: 1001;
}

#footer-cookie a {
  color: #fff;
}

#footer-cookie #description {
  float: left;
}

#footer-cookie #accept {
  float: right;
}

#footer-cookie #accept a {
  border: 1px solid #fff;
  padding: 5px 10px;
  text-decoration: none;
}

@media (max-width: 1200px) {
  #footer-cookie {
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: inherit;
    height: auto;
  }

  #footer-cookie #description {
    width: 100%;
  }

  #footer-cookie #accept {
    width: 100%;
    margin-top: 15px;
  }

  #footer-cookie #accept a {
    width: 100%;
    display: block;
    text-align: center;
  }
}
