/*Haupt Config*/
body {
  padding: 0;
  overflow-x: hidden;
}

header {
 background: #22242a;
 padding: 20px;	
}
.left_area h3 {
 color: #fff;
 text-transform: uppercase;
 font-size: 20px;
 font-weight: 900;
 z-index: 1;
 /*position: fixed;*/
 cursor: pointer;
 left: 50px;
 font-size: 20px;
 margin: -10px 0;
 transition: 0.5s;
 transition-property: color;
}

.left_area span {
  color: #19b3d3;
}
.right_area {
	float: right;
	display: contents;
}
.logout_btn {
  padding: 5px;
  background: #19b3d3;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  /*/transition-property: background;/*/
}

.logout_btn:hover {
  background: #0b87a6;
}

.sidebar {
  z-index: 2;
  top: 0;
  background: #333;
  margin-top: 70px;
  /*/padding-top: 30px;/*/
  position: fixed;
  left: -250px;
  width: 250px;
  height: calc(100% - 8%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.sidebar a {
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
  margin-left: 165px;
}

.sidebar a:hover {
  background: #19b3d3;
}

.sidebar i {
  padding-right: 10px;
}

label #sidebar_btn {
 z-index: 1;
 color: #fff;
 position: fixed;
 cursor: pointer;
 left: 20px;
 font-size: 20px;
 margin: 5px 0;
 transition: 0.5s;
 transition-property: color;
}

label #sidebar_btn:hover {
  color: #19b3d3;
}

#check:checked ~ .sidebar {
  left: 0;
  background-color: #2f323a;
}

#check:checked ~ .topnav {
  min-width: 85%;
}

#check:checked ~ .sidebar a span {
  display: inline-block;
}

.sidebar a span {
  display: none;
}

#check:checked ~ .sidebar a {
  font-size: 20px;
  margin-left: 0;
}

.sidebar a {
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.content {
  width: (100% - 250px);
  margin-top: 60px;
  /*padding: 20px;*/
  margin-left: 60px;
  min-height: 100vh;
  transition: 0.5s;
}

#check {
  display: none;
}

.mobile_nav {
  display: none;
}

.content .card p {
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.8;
}

/* Responsive CSS */

@media screen and (min-width: 780px) {
header {
 z-index: 1000000;
 position: fixed;
 background: #22242a;
 padding: 20px;
 width: calc(100% - 0%);
 top: 0;
 height: 30px;
}
}

@media screen and (max-width: 780px) {
  .sidebar {
    display: none;
  }

  #sidebar_btn {
    display: none;
  }

  .content {
    margin-left: 0;
    margin-top: 0;
    /*padding: 10px 20px;*/
    transition: 0s;
  }

  #check:checked ~ .content {
    margin-left: 0;
  }

  .mobile_nav {
    display: block;
    width: calc(100% - 0%);
  }

  .nav_bar {
    background: #222;
    width: (100% - 0px);
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .nav_bar .mobile_profile_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .nav_bar .nav_btn {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }

  .nav_bar .nav_btn:hover {
    color: #19b3d3;
  }

  .mobile_nav_items {
    background: #2f323a;
    display: none;
  }

  .mobile_nav_items a {
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }

  .mobile_nav_items a:hover {
    background: #19b3d3;
  }

  .mobile_nav_items i {
    padding-right: 10px;
  }

  .active {
    display: block;
  }
}
