a:not(.pure-button):hover,
a:not(.pure-button):active {
  color: #167ac6 !important;
}

a:not(.pure-button) {
  color: #61809b;
  text-decoration: none;
}

/* All links that do not fit with the default color goes here */
a:not([data-id]) > .icon,
.pure-u-lg-1-5 > .h-box > a[href^="/watch?"],
.playlist-restricted > ol > li > a {
  color: #303030;
}
