a:hover,
a:focus {
  color: #075A9E !important;
  text-decoration: underline;
}

a {
  color: #335d7a;
  text-decoration: none;
}

/* All links that do not fit with the default color goes here */
a:not([data-id]) > .icon,
.pure-u-lg-1-5 > .h-box > a[href^="/watch?"],
.playlist-restricted > ol > li > a {
  color: #303030;
}
