body {
    color: #777;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    padding-left: 0;
}
    #layout.active #menu {
        left: 160px;
        width: 160px;
    }

    #layout.active .menu-link {
        left: 160px;
    }
/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 1284px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 1284px;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
/*    border-bottom: 1px solid #eee;
    background: #fff;*/
    letter-spacing: 0.05em;
}
    .header h1 {
        font-size: 300%;
        font-weight: 100;
        margin: 0;
    }
     .header h2 {
        font-size: 125%;
        font-weight: 100;
        line-height: 1.5;
        margin: 0;
        /* color: #666; */
        letter-spacing: -0.02em;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    /* color: #888; */
}

/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    margin-left: -160px; /* "#menu" width */
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #f5f5f5; 
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
         color: #999; 
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }
    
    #menu .pure-menu li {
        list-style-type: none;
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 1px solid #ececec;
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #ececec;
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: #1f8dd6;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #fff;
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 125%;
        font-weight: 300;
        letter-spacing: 0.1em;
        color: #fff;
        margin-top: 0;
        padding: 0.5em 0.8em;
        text-transform: uppercase;
    }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: .2em;
        -webkit-transition: all 0.4s;
           -moz-transition: all 0.4s;
            -ms-transition: all 0.4s;
             -o-transition: all 0.4s;
                transition: all 0.4s;
    }

    .menu-link span:before,
    .menu-link span:after {
        position: absolute;
        top: -.55em;
        content: " ";
    }

    .menu-link span:after {
        top: .55em;
    }
        
        .menu-link.active span {
          background: transparent;
    }

    .menu-link.active span:before {
        -webkit-transform: rotate(45deg) translate(.5em, .4em);
           -moz-transform: rotate(45deg) translate(.5em, .4em);
            -ms-transform: rotate(45deg) translate(.5em, .4em);
             -o-transform: rotate(45deg) translate(.5em, .4em);
                transform: rotate(45deg) translate(.5em, .4em);
    }

    .menu-link.active span:after {
        -webkit-transform: rotate(-45deg) translate(.4em, -.3em);
           -moz-transform: rotate(-45deg) translate(.4em, -.3em);
            -ms-transform: rotate(-45deg) translate(.4em, -.3em);
             -o-transform: rotate(-45deg) translate(.4em, -.3em);
                transform: rotate(-45deg) translate(.4em, -.3em);
    }


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
min-width: 200em {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 160px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 160px;
    }

    .menu-link {
        position: fixed;
        left: 160px;
        display: none;
    }

    #layout.active .menu-link {
        left: 160px;
    }
}

max-width: 58em {
    /* Only apply this when the window is smaller. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small. (Rotate to portrait on a mobile.)
        * Tap the menu to trigger the active state.
        * Make the window large again. (Rotate to landscape on mobile.)
    */
    #layout.active {
        position: relative;
        left: 160px;
    }
}
