<div class="feed-menu">
    <% feed_menu = env.get("preferences").as(Preferences).feed_menu.dup %>
    <% if !env.get?("user") %>
        <% feed_menu.reject! {|item| {"Subscriptions", "Playlists", "Compilations"}.includes? item} %>
    <% end %>
    <% feed_menu.each do |feed| %>
        <a href="/feed/<%= feed.downcase %>" class="feed-menu-item pure-menu-heading">
            <%= translate(locale, feed) %>
        </a>
    <% end %>
</div>
