<div class="welcome-outer" id="welcome-outer">
    <div class="infobox welcome-box">
        <a id="dismiss_welcome" class="pure-button" href="/dismiss_info?name=welcome&amp;referer=<%= env.get?("current_page") %>">dismiss</a>
        <h1>Welcome to Invidious</h1>
        <p>Watch YouTube-videos <em>ad-free</em>, <em>download videos, audio and subtitles</em>, <em>subscribe to channels</em> without Google tracking you and <a href="https://github.com/omarroth/invidious/blob/master/README.md" id="learn_more_link">much, much more</a>.
        <p><a href="/login?referer=%2Fdata_control" id="call_to_action">Create an account to import your subscriptions</a> now!
    </div>
    <div class="pure-u-1 pure-u-md-1-4"></div>
</div>
