<% content_for "header" do %>
<title>Invidious</title>
<noscript><style>.jsOnly { display: none;}</style></noscript>
<% end %>

<!-- basic comments page for people with js disabled. -->
<div class="comments post-comments">
    <%= comment_html %>
</div>