<% title = HTML.escape(compilation.title) %>
<% author = HTML.escape(compilation.author) %>

<% content_for "header" do %>
<title><%= title %> - Invidious</title>
<link rel="alternate" type="application/rss+xml" title="RSS" href="/feed/compilation/<%= compid %>" />
<% end %>

