<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="thumbnail" content="<%= thumbnail %>">
  <%= rendered "components/player_sources" %>
  <link rel="stylesheet" href="/css/default.css">
  <title><%= HTML.escape(video.title) %> - Invidious</title>
  <style>
  #player {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
  }
  </style>
</head>

<body>
  <%= rendered "components/player" %>
</body>
</html>
