<% content_for "header" do %>
<title>Invidious</title>
<% end %>

<% top_videos.each_slice(4) do |slice| %>
    <div class="pure-g">
        <% slice.each do |item| %>
            <%= rendered "components/item" %>
        <% end %>
    </div>
<% end %>
