<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1><%= I18n.translate(locale, "JavaScript license information") %></h1>
    <table id="jslicense-labels1">
        <tr>
            <td>
                <a href="/js/silvermine-videojs-quality-selector.min.js?v=<%= ASSET_COMMIT %>">silvermine-videojs-quality-selector.min.js</a>
            </td>

            <td>
                <a href="http://www.jclark.com/xml/copying.txt">Expat</a>
            </td>

            <td>
                <a href="https://github.com/iv-org/videojs-quality-selector"><%= I18n.translate(locale, "source") %></a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/js/sse.js?v=<%= ASSET_COMMIT %>">sse.js</a>
            </td>

            <td>
                <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2.0-only</a>
            </td>

            <td>
                <a href="https://github.com/mpetazzoni/sse.js"><%= I18n.translate(locale, "source") %></a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/videojs/videojs-contrib-quality-levels/videojs-contrib-quality-levels.js?v=<%= ASSET_COMMIT %>">videojs-contrib-quality-levels.js</a>
            </td>

            <td>
                <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2.0-only</a>
            </td>

            <td>
                <a href="https://github.com/videojs/videojs-contrib-quality-levels"><%= I18n.translate(locale, "source") %></a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/videojs/videojs-http-source-selector/videojs-http-source-selector.js?v=<%= ASSET_COMMIT %>">videojs-http-source-selector.js</a>
            </td>

            <td>
                <a href="http://www.jclark.com/xml/copying.txt">Expat</a>
            </td>

            <td>
                <a href="https://github.com/jfujita/videojs-http-source-selector"><%= I18n.translate(locale, "source") %></a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/videojs/videojs-mobile-ui/videojs-mobile-ui.js?v=<%= ASSET_COMMIT %>">videojs-mobile-ui.js</a>
            </td>

            <td>
                <a href="https://choosealicense.com/licenses/mit/">Expat</a>
            </td>

            <td>
                <a href="https://github.com/mister-ben/videojs-mobile-ui"><%= I18n.translate(locale, "source") %></a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/videojs/videojs-markers/videojs-markers.js?v=<%= ASSET_COMMIT %>">videojs-markers.js</a>
            </td>

            <td>
                <a href="http://www.jclark.com/xml/copying.txt">Expat</a>
            </td>

            <td>
                <a href="https://github.com/spchuang/videojs-markers"><%= I18n.translate(locale, "source") %></a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/videojs/videojs-overlay/videojs-overlay.js?v=<%= ASSET_COMMIT %>">videojs-overlay.js</a>
            </td>

            <td>
                <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2.0-only</a>
            </td>

            <td>
                <a href="https://github.com/brightcove/videojs-overlay"><%= I18n.translate(locale, "source") %></a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/videojs/videojs-share/videojs-share.js?v=<%= ASSET_COMMIT %>">videojs-share.js</a>
            </td>

            <td>
                <a href="http://www.jclark.com/xml/copying.txt">Expat</a>
            </td>

            <td>
                <a href="https://github.com/mkhazov/videojs-share"><%= I18n.translate(locale, "source") %></a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/videojs/videojs-vtt-thumbnails/videojs-vtt-thumbnails.js?v=<%= ASSET_COMMIT %>">videojs-vtt-thumbnails.js</a>
            </td>

            <td>
                <a href="http://www.jclark.com/xml/copying.txt">Expat</a>
            </td>

            <td>
                <a href="https://github.com/chrisboustead/videojs-vtt-thumbnails"><%= I18n.translate(locale, "source") %></a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/js/videojs-youtube-annotations.min.js?v=<%= ASSET_COMMIT %>">videojs-youtube-annotations.min.js</a>
            </td>

            <td>
                <a href="https://www.gnu.org/licenses/gpl-3.0.html">GPL-3.0</a>
            </td>

            <td>
                <a href="https://github.com/afrmtbl/videojs-youtube-annotations"><%= I18n.translate(locale, "source") %></a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/videojs/videojs-vr/videojs-vr.js?v=<%= ASSET_COMMIT %>">videojs-vr.js</a>
            </td>

            <td>
                <a href="https://choosealicense.com/licenses/mit">Expat</a>
            </td>

            <td>
                <a href="https://github.com/videojs/videojs-vr"><%= I18n.translate(locale, "source") %></a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/videojs/video.js/video.js?v=<%= ASSET_COMMIT %>">video.js</a>
            </td>

            <td>
                <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2.0-only</a>
            </td>

            <td>
                <a href="https://github.com/videojs/video.js"><%= I18n.translate(locale, "source") %></a>
            </td>
        </tr>

        <%- {% for row in run("../../../scripts/generate_js_licenses.cr").stringify.split('\n') %} %>
            <%-= {{row.id}} -%>
        <% {% end %} -%>
    </table>
</body>
</html>
