<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>JavaScript license information</h1>
    <table id="jslicense-labels1">
        <tr>
            <td>
                <a href="/js/dash.mediaplayer.min.js">dash.mediaplayer.min.js</a>
            </td>

            <td>
                <a href="http://directory.fsf.org/wiki/License:BSD_3Clause">Modified-BSD</a>
            </td>

            <td>
                <a href="https://unpkg.com/dashjs@2.9.0/dist/dash.mediaplayer.debug.js">source</a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/js/silvermine-videojs-quality-selector.min.js">silvermine-videojs-quality-selector.min.js</a>
            </td>

            <td>
                <a href="http://www.jclark.com/xml/copying.txt">Expat</a>
            </td>

            <td>
                <a href="/js/silvermine-videojs-quality-selector.js">source</a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/js/video.min.js">video.min.js</a>
            </td>

            <td>
                <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2.0-only</a>
            </td>

            <td>
                <a href="https://unpkg.com/video.js@6.12.1/dist/video.js">source</a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/js/videojs-contrib-quality-levels.min.js">videojs-contrib-quality-levels.min.js</a>
            </td>

            <td>
                <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2.0-only</a>
            </td>

            <td>
                <a href="https://unpkg.com/videojs-contrib-quality-levels@2.0.7/dist/videojs-contrib-quality-levels.js">source</a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/js/videojs-dash.min.js">videojs-dash.min.js</a>
            </td>

            <td>
                <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2.0-only</a>
            </td>

            <td>
                <a href="https://unpkg.com/videojs-contrib-dash@2.8.2/dist/videojs-dash.js">source</a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/js/videojs-http-streaming.min.js">videojs-http-streaming.min.js</a>
            </td>

            <td>
                <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2.0-only</a>
            </td>

            <td>
                <a href="https://unpkg.com/@videojs/http-streaming@1.2.2/dist/videojs-http-streaming.js">source</a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/js/videojs-markers.min.js">videojs-markers.min.js</a>
            </td>

            <td>
                <a href="http://www.jclark.com/xml/copying.txt">Expat</a>
            </td>

            <td>
                <a href="https://unpkg.com/videojs-markers@1.0.1/dist/videojs-markers.js">source</a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/js/videojs-share.min.js">videojs-share.min.js</a>
            </td>

            <td>
                <a href="http://www.jclark.com/xml/copying.txt">Expat</a>
            </td>

            <td>
                <a href="https://unpkg.com/videojs-share@2.0.1/dist/videojs-share.js">source</a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/js/videojs.hotkeys.min.js">videojs.hotkeys.min.js</a>
            </td>

            <td>
                <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2.0-only</a>
            </td>

            <td>
                <a href="/js/videojs.hotkeys.js">source</a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/js/watch.js">watch.js</a>
            </td>

            <td>
                <a href="https://www.gnu.org/licenses/agpl-3.0.html">GNU-AGPL-3.0-or-later</a>
            </td>

            <td>
                <a href="/js/watch.js">source</a>
            </td>
        </tr>
    </table>
</body>
</html>