<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1><%= translate(locale, "JavaScript license information") %></h1>
    <table id="jslicense-labels1">
        <tr>
            <td>
                <a href="/js/silvermine-videojs-quality-selector.min.js">silvermine-videojs-quality-selector.min.js</a>
            </td>

            <td>
                <a href="http://www.jclark.com/xml/copying.txt">Expat</a>
            </td>

            <td>
                <a href="https://github.com/omarroth/videojs-quality-selector"><%= translate(locale, "source") %></a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/js/videojs-contrib-quality-levels.min.js">videojs-contrib-quality-levels.min.js</a>
            </td>

            <td>
                <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2.0-only</a>
            </td>

            <td>
                <a href="https://github.com/videojs/videojs-contrib-quality-levels"><%= translate(locale, "source") %></a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/js/videojs.hotkeys.min.js">videojs.hotkeys.min.js</a>
            </td>

            <td>
                <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2.0-only</a>
            </td>

            <td>
                <a href="https://github.com/ctd1500/videojs-hotkeys"><%= translate(locale, "source") %></a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/js/videojs-http-source-selector.min.js">videojs-http-source-selector.min.js</a>
            </td>

            <td>
                <a href="http://www.jclark.com/xml/copying.txt">Expat</a>
            </td>

            <td>
                <a href="https://github.com/jfujita/videojs-http-source-selector"><%= translate(locale, "source") %></a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/js/videojs-markers.min.js">videojs-markers.min.js</a>
            </td>

            <td>
                <a href="http://www.jclark.com/xml/copying.txt">Expat</a>
            </td>

            <td>
                <a href="https://github.com/spchuang/videojs-markers"><%= translate(locale, "source") %></a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/js/videojs-share.min.js">videojs-share.min.js</a>
            </td>

            <td>
                <a href="http://www.jclark.com/xml/copying.txt">Expat</a>
            </td>

            <td>
                <a href="https://github.com/mkhazov/videojs-share"><%= translate(locale, "source") %></a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/js/videojs-youtube-annotations.min.js">videojs-youtube-annotations.min.js</a>
            </td>

            <td>
                <a href="https://www.gnu.org/licenses/gpl-3.0.html">GPL-3.0</a>
            </td>

            <td>
                <a href="https://github.com/afrmtbl/videojs-youtube-annotations"><%= translate(locale, "source") %></a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/js/video.min.js">video.min.js</a>
            </td>

            <td>
                <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2.0-only</a>
            </td>

            <td>
                <a href="https://github.com/videojs/video.js"><%= translate(locale, "source") %></a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/js/watch.js">watch.js</a>
            </td>

            <td>
                <a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0</a>
            </td>

            <td>
                <a href="/js/watch.js"><%= translate(locale, "source") %></a>
            </td>
        </tr>
    </table>
</body>
</html>
