<% content_for "header" do %>
<meta name="description" content="<%= translate(locale, "An alternative front-end to YouTube") %>">
<title>
    Invidious - <%= translate(locale, "search") %>
</title>
<link rel="stylesheet" href="/css/empty.css?v=<%= ASSET_COMMIT %>">
<% end %>

<div class="search-homepage">
	<%= rendered "components/feed_menu" %>

	<div id="search-widget">
		<h1>Invidious</h1>
		<% autofocus = true %><%= rendered "components/search_box" %>
	</div>
</div>
