<% content_for "header" do %>
<meta name="description" content="<%= translate(locale, "An alternative front-end to YouTube") %>">
<title><%= translate(locale, "Top") %> - Invidious</title>
<% end %>

<%= rendered "components/feed_menu" %>

<div class="pure-g">
<% top_videos.each_slice(4) do |slice| %>
        <% slice.each do |item| %>
            <%= rendered "components/item" %>
        <% end %>
<% end %>
</div>
