<% content_for "header" do %>
<title><%= translate(locale, "Trending") %> - Invidious</title>
<% end %>

<div class="pure-g">
<% trending.each_slice(4) do |slice| %>
        <% slice.each do |item| %>
            <%= rendered "components/item" %>
        <% end %>
<% end %>
</div>
