<div class="pure-u-1 pure-u-md-1-4">
    <div class="h-box">
        <a style="width:100%;" href="/watch?v=<%= video.id %>">
            <img style="width:100%;" src="https://i.ytimg.com/vi/<%= video.id %>/mqdefault.jpg"/>
            <p><%= video.title %></p>
        </a>
        <p>
            <b><a style="width:100%;" href="/channel/<%= video.ucid %>"><%= video.author %></a></b>
        </p>
    </div>
</div>